/* *{
    --button-blue: rgb(55, 192, 255);
    --light-bg:rgb(176, 116, 245);
}

.AddTodoForm{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}
form{
    border: 8px solid var(--light-bg);
    border-radius: 5px;
    width:100%
}
input{
    min-width: 200px;
    width: 83.6%;
}
button, input{
    padding: 10px;
    font-size: 1.5rem;
}
button{
    background-color: var(--button-blue);
    color: white;
    border: 1px solid var(--button-blue);
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
}
button:disabled{
    opacity: 0.5;
    cursor: default;
}
input:focus{
    outline-color: var(--button-blue);
    outline-style: ridge;
}
input.ng-touched.ng-invalid{
    border: 2px solid red;
}
small{
    color: red;
}*/

form{
    --light-bg:rgb(176, 116, 245);
    border-radius: 15px;
    border: 8px solid var(--light-bg);
}